td {
    border: 1px solid var(--std-black);
    margin: 0;
}

.resumo__pagamentos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.dados__armazenados {
    text-align: left;
}

.tipo__pagamento {
    width: 80px;
}

.info__data, .info__valor {
    width: 100px;
}

.campos__edicao {
    width: 60px;
}

@media screen and (max-width: 479px) {
    .resumo__pagamentos {
        font-size: 12px;
    }

    .tipo__pagamento {
        width: 50px;
    }

    .info__data, .info__valor {
        width: 70px;
    }

    .campos__edicao {
        width: 40px;
    }
}