.pagina__cadastros {
    overflow: auto;
}

.titulo__cadastro {
    text-align: center;
}

.formulario__cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containers__input {
    border: none;
    display: flex;
    flex-direction: column;
    width: 60vw;
    line-height: 40px;
    padding: 0;
}

.input__cadastros {
    height: 30px;
    border-radius: 10px;
}

.botao__cadastro {
    margin: 2vh 0;
    padding: 10px 30px;
    background-color: var(--std-black);
    border: 1px solid var(--std-white);
    color: var(--std-white);
    cursor: pointer;
}

.apresentacao__cadastro {
    margin: 0 40px;
}

.lista__cadastrados {
    text-align: center;
}

.area__containerEdicao {
    text-align: center;
}

.container__categorias {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabela__categorias {
    margin: 20px 0;
    width: 300px;
    text-align: left;
}

.table__head {
    border: 1px solid var(--std-gold);
}

.table__body {
    border: 1px solid var(--std-gold);
}

.tipo__categorias, .tipo__criadoPor, .item__categoria, .item__criador {
    outline: 1px solid var(--std-gold);
}

.tipo__categorias, .item__categoria {
    width: 150px;
}

.tipo__criadoPor, .item__criador {
    width: 200px;
}

@media screen and (min-width:720px) {
    .containers__input {
        width: 40vw;
    }
}

@media screen and (min-width:1280px) {

    .containers__input {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 80vw;
    }

    .input__cadastros {
        width: 10vw;
        margin-right: 1vw;
    }
}