.titulo__cadastro {
    text-align: center;
}

.formulario__cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containers__input {
    border: none;
    display: flex;
    flex-direction: column;
    width: 60vw;
    line-height: 40px;
    padding: 0;
}

.input__cadastros {
    height: 30px;
}

.botao__cadastro {
    margin: 2vh 0;
    padding: 10px 30px;
    background-color: var(--std-black);
    border: 1px solid var(--std-white);
    color: var(--std-white);
    cursor: pointer;
}

.apresentacao__cadastro {
    margin: 0 40px;
}

@media screen and (min-width:720px) {
    .containers__input {
        width: 40vw;
    }
}

@media screen and (min-width:1280px) {

    .containers__input {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 80vw;
    }

    .input__cadastros {
        width: 10vw;
        margin-right: 1vw;
    }
}