.button__register {
    margin: 3vh 0;
    padding: 1vh 0;
    background-color: var(--std-black);
    border: 1px solid var(--std-white);
    color: var(--std-white);
    cursor: pointer;
    width: 100%;
}