.container__edicao {
    display: inline-block;
    background-color: var(--std-gold);
    text-align: center;
    padding: 20px 0;
}

.form__edicao {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
}

.campos__edicao {
    cursor: pointer;
}

.container__ativo {
    left: 30vw;   
}