.dashboard__principal {
    display: flex;
    flex-direction: column; 
    align-items: center;
    overflow: auto;
}

.secao_homepage {
    text-align: center;
}

.campos__filtro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 200px;
}

.posicao__grafica {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.resumo__saldo {
    text-align: center;
    margin: 20px 0;
}

.dados__saldo {
    margin: 0;
}

.container__apresentacao {
    margin: 0 40px;
}

.negativo {
    color: red;
}