.cabecalho {
    background-color: var(--std-black);
    color: var(--std-white);
    margin: 0;
    font-size: 0.6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15px;
    outline: 2px solid var(--std-gold);
    height: 30px;
}

.container__logo {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.titulo__cabecalho {
    margin: 0;
    display: none;
}

.foto__perfil--cabecalho {
    width: 2.8rem;
    height: 3.1rem;
    border-radius: 100%;
    cursor: pointer;
}

.nome__usuario {
    margin: 0;
}

.icone__app, .icones__nav {
    font-size: 2.5rem;
    cursor: pointer;
}

.icone__desativado {
    display: none;
}

@media screen and (min-width: 720px) {
    .titulo__cabecalho {
        display: initial;
    }

    .icone__menu, .fecha__menu {
        display: none;
    }
}