.menu__nav {
    position: fixed;
    color: var(--std-white);
    background-color: var(--std-gold);
    top: 11.3vh;
    bottom: 0;
    left: -100%;
    width: 50%; 
    display: flex;
    flex-direction: column;
    outline: 1px solid var(--std-gold);
    transition: 1s;
}

.menu__ativado {
    left: 0;
    transition: 1s;
}

.link__menu {
    text-decoration: none;
    color: var(--std-white);
    font-weight: 500;
    font-size: 1.2rem;
    border-bottom: 3px solid var(--std-gold);
    margin: 3vh 0;
    padding: 0.5vh 1vw;
    cursor: pointer;
}

.link__menu:hover {
    border-bottom: 3px solid var(--std-white);
}

@media screen and (max-width: 400px) {
    .menu__nav {
        width: 70%; 
    }
}

@media screen and (min-width: 720px) {
    .menu__nav {
        position: initial;
        background-color: var(--std-black);
        width: 100%;
    }

    .link__menu {
        border-bottom: 3px solid var(--std-black);
    }
}