.formulario__cred {
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: var(--std-gold);
    border-radius: 10px;
}

.grupo__dadosPrenchimento {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.campos__preenchimento {
    display: flex;
    flex-direction: column;
    width: 300px;
    line-height: 40px;
    border: none;
}

.selecao__opcao {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    outline: 1px solid black;
    border: none;
}

#valor_pagamento, #obs, #data_pagamento {
    line-height: 30px;
    border-radius: 10px;
    border: 1px solid black;
}

#data_pagamento {
    width: 100px;
}

.botao__pagamento {
    margin: 20px 0;
    padding: 10px 30px;
    background-color: var(--std-black);
    border: 1px solid var(--std-white);
    color: var(--std-white);
    cursor: pointer;
}

@media screen and (max-width:380px) {
    .campos__preenchimento {
        width: 200px;
    }
}

@media screen and (min-width:1280px) {
    .campos__preenchimento {
        flex-direction: row;
        line-height: 40px;
        width: auto;
        align-items: center;
    }

}