.container__up {
    position: fixed;
    top:11vh;
    bottom: 0;
    right: -100%;
    width: 50%;
    background-color: var(--std-gold);
    color: var(--std-white);
}

.campos__up {
    margin: 0;
    display: flex;
    flex-direction: column;
    border: none;
}

.exibe__up--lateral {
    right: 0;
}

@media screen and (min-width:720px) {
    .container__up {
        width: 20%;
    }
}