:root {
  --std-black: #000000;
  --std-gold: #B8860B;
  --std-white: #ececec;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  -webkit-user-select: none;
  user-select: none;
}
