.arrow__back {
    cursor: pointer;
    font-size: 2rem;
}

.login__ativado {
    display: none;
}

.container__login {
    position: fixed;
    top:11vh;
    bottom: 0;
    right: -100%;
    width: 50%;
    background-color: var(--std-gold);
    color: var(--std-white);
    transition: 1s;
    padding: 1vh 2vw;
    line-height: 30px;
}

.campos__login {
    margin: 0;
    display: flex;
    flex-direction: column;
    border: none;
    padding: 0;
}

.exibe__login--lateral {
    right: 0%;
    transition: 1s;
}

.accesso__signup {
    cursor: pointer;
    border-bottom: 1px solid var(--std-gold);
    text-decoration: underline;
}

.accesso__signup:hover {
    border-bottom: 1px solid var(--std-white);
}

.campo__input--login {
    height: 30px;
}

.button__register {
    margin: 20px 0;
    padding: 1vh 0;
    background-color: var(--std-black);
    border: 1px solid var(--std-white);
    color: var(--std-white);
    cursor: pointer;
}

/* .barra__progresso {
    display: none;
} */

@media screen and (max-width:400px) {
    .container__login {
        width: 70%;
    }
}

@media screen and (min-width:720px) {
    .container__login {
        width: 40%;
    }
}

@media screen and (min-width:900px) {
    .container__login {
        width: 30%;
    }
}

@media screen and (min-width:1280px) {
    .container__login {
        width: 20%;
    }
}