.arrow__back {
    cursor: pointer;
    font-size: 2rem;
}

.container__login {
    position: fixed;
    top:11vh;
    bottom: 0;
    right: -100%;
    width: 50%;
    background-color: var(--std-gold);
    color: var(--std-white);
    transition: 1s;
}

.campos__login {
    margin: 0;
    display: flex;
    flex-direction: column;
    border: none;
}

.exibe__login--lateral {
    right: 0%;
    transition: 1s;
}

.accesso__signup {
    cursor: pointer;
    border-bottom: 1px solid var(--std-gold);
}

.accesso__signup:hover {
    border-bottom: 1px solid var(--std-white);
}

@media screen and (max-width:400px) {
    .container__login {
        width: 70%;
    }
}

@media screen and (min-width:720px) {
    .container__login {
        width: 40%;
    }
}

@media screen and (min-width:900px) {
    .container__login {
        width: 30%;
    }
}

@media screen and (min-width:1280px) {
    .container__login {
        width: 20%;
    }
}